doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Texto Cifrado
    link(rel="stylesheet", href="css/styles.css")
  body
    header
      h1 Texto Cifrado
    main
      .input-container
        textarea#input-text(rows="10", cols="50", placeholder="Introduce el texto a cifrar")
        select#encryption-type
          option(value="base64") Base64
          option(value="cesar") Código César
          option(value="sustitucion") Sustitución
          option(value="hexadecimal") Hexadecimal a Decimal
        button#encrypt-btn Cifrar
      .output-container
        textarea#output-text(rows="10", cols="50", placeholder="Resultado cifrado")
