doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title EncodeMasterText
    link(rel="stylesheet", href="css/styles.css")
  body.layout-enc
    nav
      .navbar
        .container.nav-container
          input.checkbox(type='checkbox')
          .hamburger-lines
            span.line.line1
            span.line.line2
            span.line.line3
          .logo
            h1 EncodeMaster
          .menu-items
            li: a(href='#') Inicio
            li: a(href='#') Perfil
            li: a(href='#') Historial
            li: a(href='#') Actividad
            if user != ''
            li
              a(href='#')
                i(class='material-symbols-rounded') logout
    .container
    block content
