doctype html
html
  head
    title EncodeMasterText
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
    link(rel="icon", type="image/png", href="/img/letters.png")

  body.login
    div.login_form
      section.login-wrapper
        div.logo
          a(target="_blank" rel="noopener" href="/")
            img.login-img(src="img/ANO-nimus.png" alt="")
        form.login-form(action =  "/login", method = "POST")
          h1 Inicia Sesión
          label(for="nombre") Name
          input(type="text" name="username" required)
          label(for="password") Password
          input.password(type="password" name="password" required)
          button(type="submit") Iniciar sesión
          div.sincuenta-login
            p
              | ¿No tienes cuenta?
              a(href="/sigin") Regístrate
    script.
      const passwordInput = document.getElementById('password');
      const mostrarContrasenaBtn = document.getElementById('mostrarContrasena');

      mostrarContrasenaBtn.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">visibility</i>';
        } else {
            passwordInput.type = 'password';
            mostrarContrasenaBtn.innerHTML = '<i class="material-symbols-rounded">visibility_off</i>';
        }
      });