doctype html
html
  head
    title EncodeMasterText
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap", rel="stylesheet")
  body.signup-login
    .main-login
      input#chk(type="checkbox", aria-hidden="true")
      .signup
        form
          label(for="chk", aria-hidden="true" class="label-signup") Sign up
          input(type="text", name="txt", placeholder="User name", required="")
          input(type="email", name="email", placeholder="Email", required="")
          input(type="password", name="pswd", placeholder="Password", required="")
          button Sign up
      .login
        form
          label(for="chk", aria-hidden="true" class = "label-login") Login
          input(type="email", name="email", placeholder="Email", required="")
          input(type="password", name="pswd", placeholder="Password", required="")
          button Login
