doctype html
html
  head
    title EncodeMasterText
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", type="text/css", href="css/styles.css")
    link(href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
  body.login
    h1 Login
    form.form(method="post", action="/login")
      p.field
        input(type="text", name="name", placeholder="name", required)
        i.fa.fa-user
      p.field
        input(type="password", name="password", placeholder="firstPassword", required)
        i.fa.fa-lock
      p.submit
        input(type="submit", name="sent", value="Login")
