doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=0.98")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Regístrate
    // Google Fonts
    link(href="https://fonts.googleapis.com/css?family=Lato&display=swap", rel="stylesheet")
    // Estilos CSS
    link(rel="stylesheet", href="css/styles.css")
    // Favicon
    link(rel="shortcut icon", href="img/letters.png", type="image/x-icon")
  body.sigin
    main
      article
        section
          form#registro(class="sigin-form", action="/user-register", method="POST")
            h1 Regístrate
            input(class="sigin-inp", type="text", name="nombre", placeholder="Nombre")
            input(class="sigin-inp", type="email", name="email", placeholder="Correo electrónico")
            input(class="sigin-inp", type="password", name="password", placeholder="Contraseña")
            input(class="sigin-inp", type="password", name="confirmPassword", placeholder="Repite la Contraseña")
            button(type="submit") Registrarme
          p ¿Ya tienes cuenta?
          p
            a(href="/login") Inicia Sesión
