@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.layout-enc {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  height: 130vh;
  width: 90vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 0px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .contenedor {
    border: 5px solid #007bff;
    padding: 10px;
  }
  .titulo {
    font-size: 20px;
  }
  .texto {
    font-size: 16px;
  }
}
.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -15px;
}

.logo-encode {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #000;
  z-index: 2;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type=checkbox]:checked ~ .logo-encode {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.input-container, .output-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 600px;
}

.input-text, #output-text {
  width: 100%;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  overflow-y: auto;
}

.counter-container {
  align-self: flex-end;
  margin-bottom: 10px;
}

#encryption-type {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#encrypt-btn {
  background-color: #12720f;
  color: #fff;
  align-self: flex-end;
  margin-left: auto;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

#copy-btn {
  background-color: #0462ce;
  color: #fff;
  transition: all 0.3s ease;
}

#encrypt-btn:hover,
#copy-btn:hover {
  filter: brightness(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#output-text {
  background-color: #f2f2f2;
  color: #333;
}

#num-of-turns {
  padding: 6px;
  width: 140px;
  font-size: 16px;
  text-align: center;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .input-container, .output-container {
    width: 100%;
  }
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body.login, html, .login_form {
  height: 100%;
}

body.login {
  background: #31302B;
}

.login_form {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: center;
  -moz-box-flex: center;
  -webkit-flex: center;
  -ms-flex: center;
  flex: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sincuenta-login {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper {
  max-width: 550px;
  width: 100%;
}

.logo {
  text-align: center;
}
.logo img.login-img {
  max-width: 250px;
  width: 100%;
  margin: 1em auto 2em;
}

form.login-form {
  background: #464541;
  padding: 2em 1em;
  font-family: helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 350px;
}
form.login-form label {
  color: #000;
  margin: 0 3% 0.25em;
  display: block;
  font-family: helvetica, sans-serif;
  font-weight: bold;
}
form.login-form input {
  width: 94%;
  padding: 0.5em 0.25em;
  margin: 0 3% 1em;
  font-size: 1.2em;
  border: 2px solid #000;
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
form.login-form input.password {
  padding-right: 4rem;
}
form.login-form input:focus {
  border: 2px solid #1ABC9C;
}
form.login-form button {
  width: 94%;
  margin: 2em 3% 0;
  border: none;
  background: #007bff;
  padding: 1em 0;
  font-size: 1.25em;
  font-weight: bold;
  clear: both;
  color: #fffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
}
form.login-form button:focus, form.login-form button:hover {
  background: #31302B;
}

.hide-show {
  width: 94%;
  margin: -3.62em 3% 0 1.5%;
  position: relative;
  z-index: 5;
  display: none;
}
.hide-show span {
  background: #1ABC9C;
  font-size: 1em;
  padding: 0.5em;
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

/* Variables */
body.sigin {
  background-color: #31302B;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.99;
  background-size: cover;
}

article {
  width: 100%;
  height: auto;
}

#register, form.sigin-form {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-top: 45px;
  background-color: #464541;
  padding: 5px;
  border-radius: 3px;
  margi-top: 20px;
}

h1 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

img {
  width: 2rem;
  height: auto;
  margin: 5px 15px;
  cursor: pointer;
}

input.sigin-inp {
  padding: 15px 10px;
  margin: 5px 0px;
  width: 100%;
  color: #666;
  border-radius: 1px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

button[type=submit] {
  background-color: #1ABC9C;
  padding: 8px 13px;
  margin: 10px 0px;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
}
button[type=submit]:hover {
  background-color: #0f6957;
}

button[type=reset] {
  float: right;
  background-color: #FFA420;
  padding: 8px 13px;
  margin: 10px 0px;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
}
button[type=reset]:hover {
  background-color: #FF7514;
}

p {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-top: -50px;
}

a {
  color: #18b95c;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: bold;
  margin-top: -40px;
}
a:hover {
  color: #047c36;
}
a:focus {
  color: #006e2e;
}

/* Estilos base */
#register, form.sigin-form {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
}

img {
  max-width: 100%;
}

input.sigin-inp {
  padding: 15px 10px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
}

button[type=submit], button[type=reset] {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}

/* Media queries para pantallas más pequeñas */
@media screen and (max-width: 970px) {
  #register, form.sigin-form {
    padding: 15px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 1.5rem;
  }
  input.sigin-inp {
    padding: 12px 8px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  input.sigin-inp ::placeholder {
    font-weight: bold;
    font-size: 1.2rem;
  }
  button[type=submit], button[type=reset] {
    padding: 8px 16px;
  }
  p {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
